@{
    ViewData["Title"] = "_MyLayout";
}

@{
    Layout = null;
}

@model AnotherApp.Models.Layout2

<h2>The two minute divide</h2>
<body style="background-color: darkmagenta;">
    <p style="font-size: 30px;">Huh?</p><br />
    <p style="font-size: 15px;">This won't take long...</p>
</body>
