@model IEnumerable<CP1.Models.ServiceProvider>
@{
    ViewData["Title"] = "Provider";
}
    <h2>New Service Provider Page</h2>
    <br /><br />
    <a asp-action="Add">Add New Service Provider</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit Service Provider</a>
                    <a asp-action="Remove" asp-route-id="@item.Id">Remove Service Provider</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
