@using CP1.Models
@model Appointment

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit n Appointment</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "Appointment", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div asp-validation - summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Customer" class="control-label">Select a Customer</label>
        <select asp-for="Customer" class="form-control">
        </select>
        <label asp-for="Provider" class="control-label">Select a Provider</label>
        <select asp-for="Provider" class="form-control">
        </select>
        <div class="form-group">
            <label asp-for="Work" class="control-label">Select a Day</label>
            <select asp-for="Work" class="form-control">
                <option value="1">Monday</option>
                <option value="2">Tuesda</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Save" />
            <input type="reset" />
        </div>
    }
</body>
</html>