@model IEnumerable<CP1.Models.IApptRepository>

@ViewBag["Title"] = "Customer";

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<br /><br />
      <a asp-action="Index">Add New Customer</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Customers
                </td>
            </tr>
            }
        <tr>@Html.ActionLink("Back to Customer Form", "Index")</tr>
        </tbody>
    </table>