@model Customer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bona Tago!!</title>
</head>
<body>
    <h1>Welcome to the Spa!</h1>
</body>
</html>