@model Customer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bona Tago!!</title>
</head>
<body>
    <h1>Welcome to the Spa Zone!</h1><br />
    <h3>Create a Customer or Service Provider profile and create your Appointment!</h3><br />
    <p>New customers can set up an appointment with any Service Provider on any day we're open! Service Providers can also
    confirm their appointments after logging in. Join us at the Spa today!!</p>
</body>
</html>