@model Customer

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <title>Bona Tago!!</title>
</head>
<body>
    <div id="introContainer">
        <h1 id="welcome">Welcome to the Spa Zone!</h1><br />
        <p id="intro">New customers can set up an appointment with any Service Provider on any day we're open! Service Providers can also
        confirm their appointments after logging in. Join us at the Spa today!!</p>
    </div>
</body>
</html>