@model Appointment


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Details", "Home", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            @Html.TextBoxFor(i => i.Id)
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Provider" class="control-label"></label>
            @Html.DropDownListFor(p => p.Provider, new List<SelectListItem>
                        {
                            new SelectListItem{Text="Sandra", Value="Available"},
                            new SelectListItem{Text="Mike", Value="Available"},
                            new SelectListItem{Text="Tina", Value="Available"},
                            new SelectListItem{Text="Alex", Value="Available"}
                        }, "Select One")
            <span asp-validation-for="Provider" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WorkHours" class="control-label"></label>
            <input type="date" name="WorkHours" value="" />
            <span asp-validation-for="WorkHours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" />
            <input type="reset" />
        </div>
  }
</body>
</html>